#
# StreetKings by 919DESIGN & Envi-Scripts
# Special thanks to Rockstar Games
#

{{serverEndpoints}}
sv_maxclients {{maxClients}}
set steam_webApiKey "none"
sets tags "default, deployer, racing, streetkings"

## You MAY edit the following:
sv_licenseKey "{{svLicense}}"
sv_hostname "{{serverName}} built with {{recipeName}} by {{recipeAuthor}}!"
sets sv_projectName "[{{recipeName}}] {{serverName}}"
sets sv_projectDesc "{{recipeDescription}}"
sets locale "root-AQ" # replace with your language and location code, like en-US, pt-BR, etc
set sv_enforceGameBuild 3751
set mysql_connection_string "{{dbConnectionString}}"
load_server_icon "SKIcon.png"

## Permissions ##
add_ace group.admin command allow # allow all commands

# Resources
add_ace resource.streetkings command allow # Allow streetkings to execute commands

# Ox_lib
add_ace resource.ox_lib command.add_ace allow
add_ace resource.ox_lib command.remove_ace allow
add_ace resource.ox_lib command.add_principal allow
add_ace resource.ox_lib command.remove_principal allow

# Ace Groups
add_ace group.admin admin allow
add_ace group.mod mod allow
add_ace group.support support allow

# Inheritance
add_principal group.admin group.mod
add_principal group.mod group.support

{{addPrincipalsMaster}}

## Miscellaneous ##
set sv_pureLevel 2
set sv_enableNetworkedSounds false
set sv_enableNetworkedScriptEntityStates false
setr sv_showBusySpinnerOnLoadingScreen false

# Load Order
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
stop basic-gamemode
ensure hardcap
ensure baseevents

# Extra stuff
ensure ox_lib
ensure [ox]
ensure [standalone]

# StreetKings
ensure streetkings_audio
ensure streetkings

# Assets
ensure [assets]
